body {
    text-align: center;
}

h1 {
    color: rgb(199, 47, 47);
}

.buttons {
    margin: 10px;
    padding: 1px 9px;
    border-radius: 80px;
    /* font-size: 20px;  */
    height: 80px;
    width: 80px;
    border: none;
    background-color: rgb(70, 125, 245);
}
.choice-images{
    height: 60px;
}
h3{
    color: rgb(36, 68, 198);
    /* width: max-content; */
    text-shadow: 10px;
    font-size: 25px;
}
.reset{
    border: none;
    background-color: rgb(221, 52, 52);
    padding: 20px;
    font-size: 19px;
    border-radius: 60px;
    height: 90px;
    width: 90px;

}